<!DOCTYPE html>
<html>
<head>
  <title>Terms & Conditions</title>
  <link href="./style.css?v=12" rel="stylesheet" type="text/css">
  <link rel="icon" href="./favicon.png">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta property="og:url"                content="http://termsandconditionspodcast.com" />
  <meta property="og:type"               content="podcast" />
  <meta property="og:title"              content="Terms & Conditions: Podcast" />
  <meta property="og:description"        content="A podcast where a guy reads the overdraft terms and conditions from big banks" />
  <meta property="og:image"              content="http://termsandconditionspodcast.com/share.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142148917-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142148917-1');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '424279751756620');
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1"
  src="https://www.facebook.com/tr?id=424279751756620&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body>
  <section name="main" id="main">

    <!-- MAIN STUFF -->
    <h1>TERMS <span>&</span><br>CONDITIONS</h1>
    <h2>PODCAST</h2>
    <h3>A podcast where a guy reads the overdraft
      terms and conditions from big banks.</h3>
    <div class="cta">
      <div class="caption">CREATED BY</div> <a href="https://current.com"><img src="./images/current.png"></a>
      <div class="button" v-on:click="showAbout = true">FIND OUT WHY</div>
    </div>

    <!-- PODCAST BUTTONS -->
    <div class="buttons">
      <a href="https://open.spotify.com/show/1Uc91xVr9DIoehkwGYHNml">
        <img src="./images/spotify.png">
      </a>
      <a href="https://anchor.fm/termsandconditionspodcast">
        <img src="./images/anchor.png">
      </a>
    </div>


    <!-- ABOUT -->
    <div class="greyCover" v-if="showAbout" v-on:click="showAbout = false"></div>
    <div class="about"  v-if="showAbout">
      <img src="./images/x.png" class="x" v-on:click="showAbout = false">
      <h1>SO… WHY ARE WE DOING THIS</h1>
      <p>
        Everyday, Big Banks charge Americans an average of nearly $100 million in overdraft fees. Big Banks are expected to increase this to a total of $40 billion in overdraft fees next year, and that's possible because 1 in 4 Americans are being hit with these fees. It's a major issue that almost nobody actually reads the terms and conditions of these overdrafts from big banks, and don't actually know what they are actually agreeing to. We at Current get that and we also know that people love listening to podcasts which is why we launched The Terms and Conditions Podcast to help everyday Americans better understand what they are agreeing to with Big Banks.
        <br><br>
        Looking for a bank that does things a bit differently? Switch to Current, where we do not charge ANY overdraft fees.
      </p>
      <a class="signup" href="https://current.com/?utm_source=tcwebsite&utm_medium=tcpodcast&utm_campaign=termsandconditionspodcast">GET CURRENT</a>
    </div>
    <!-- END OF ABOUT -->
  </section>
  <script>
    var app = new Vue({
      el: '#main',
      data: {
        showAbout: false
      }
    });
  </script>
</body>

</html>
